<div class="flex flex-row justify-center my-auto h-[100vh]" data-controller="webauthn"> 
    <div class="flex flex-col justify-center">
        <p class="dark:text-white max-w-fit text-sm mb-2">
            To use passwordless login you must have created an account and registered a device that uses the WebAuthn standard.
        </p>

        <button data-action="click->webauthn#authenticate" class="cursor-pointer text-sm font-normal h-fit w-fit border border-blue-700 box-border select-none rounded-[6px] bg-blue-600 px-2.5 py-0.5 text-white duration-100 hover:bg-blue-700 hover:border-blue-800 active:bg-blue-800 shadow-inner">
            Login without a password
        </button>
    </div>
</div>